# Backend API Base URL
NEXT_PUBLIC_API_URL=http://localhost:5000

# Google OAuth Client ID (Public client-side identifier)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# Frontend Application Origin & NextAuth URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
AUTH_GOOGLE_ID="1081076966578-lb2ajn8u1lq04rsdbkl8679vvtpucnnb.apps.googleusercontent.com"